<!-- <!DOCTYPE HTML>
<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/todos" method="POST">
      <input type="text" name="content" />
      <input type="submit" value="新增" />
    </form>
    <ul>
      <% for(var i=0; i<todos.length; i++) {%>
      <li><%= todos[i].get('content') %></li>
      <% } %>
    </ul>
  </body>
  <script language="JavaScript">
 setTimeout(function(){location.reload()},5000); //指定1秒刷新一次
 </script>
</html> -->
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>年会聊天室</title>

    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" type="text/css" />

</head>

<body>

  <div id="convo" data-from="Sonu Joshi">
    <ul class="chat-thread">
      <% for(var i=0; i<todos.length; i++) {%>
      <li><%= todos[i].get('content') %></li>
      <% } %>
    </ul>
</div>
<form action="/todos" method="POST">
  <input type="text" name="content" />
  <input type="submit" value="发送" />
</form>
<div style="text-align:center;clear:both">
<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
<script src="/follow.js" type="text/javascript"></script>
</div>
<script src='/stylesheets/jquery.js'></script>

</body>

</html>
